* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
}
img {
  width: 100%;
}

.header {
  position: relative;
}
.menubar img {
  width: 100px;
  height: 40px;
}
.menubar {
  position: absolute;
  top: 0;
  display: flex;
  margin-top: 15px;
}
.menubar > div {
  display: flex;
  margin-left: 50px;
}
.menuitem {
  /* border: 1px solid black; */
  width: 150px;
  height: 40px;
  text-align: center;
  /* font-weight: 900; */
  font-size: 30px;
}
.menuitem:hover {
  transform: translateY(-10px) scale(1.05);
  background-color: rgb(227, 227, 226);
  opacity: 0.8;
  transform: scale(1.1);
}
.box1,
.box3,
.box5 {
  /* border: 1px solid olive; */
  width: 100%;
  height: 300px;
  background-color: white;
}
.box2,
.box4,
.box6 {
  /* border: 1px solid olive; */
  width: 100%;
  height: 300px;
  background-color: whitesmoke;
}
.box1 {
  display: flex;
}
.box > img {
  width: 350px;
  height: 250px;
  /* border: 1px solid gray; */
  border-radius: 3px;
  margin-left: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
