* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
nav {
  background-image: url(./img/blayndevices.webp);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
#logo {
  width: 100px;
  height: 100px;
}
.menu > li {
  font-size: 30px;
  text-align: center;
  width: 170px;
  height: 50px;
  display: inline-block;
  /* border: 1px solid orange; */
  position: relative;
}
.menu li a {
  color: #61605f;
  height: 100%;
  line-height: 50px;
}
.menu li:hover {
  background-color: gainsboro;
  border-radius: 4px;
  border: 1px solid rgb(205, 204, 204);
}
.menu li:hover > .submenu {
  background-color: rgb(198, 198, 198);
  display: block;
  border-radius: 4px;
}
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 20px;
  text-align: left;
  width: 170px;
}
a:link {
  color: rgba(97, 95, 95, 0.999);
}
a:hover {
  color: #ed9b03;
}
